## 📌 Required environment variables
# 🔘 one of: development, production
NODE_ENV=development
AQUARA_URL=https://aiot-rpc-usa.aqara.com
APPID=444c476ef7135e53330f46e7
TOKEN=xxxxx
MQTT_URL=mqtt://localhost:1883
MQTT_USER=
MQTT_PASS=
POLL_INTERVAL=1
# 🔘 one of: debug, info, warn, error
LOG_LEVEL=info

## 💡 Optional environment variables
AQARA_USER=xxxxx
AQARA_PASS=xxxxx
